@model IEnumerable<TP2_ASP.Models.SendViewModels.SendViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="OnPostAddTask">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NuméroTelecopieur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fichier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NuméroTelecopieur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fichier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sender)
            </td>
            @if (item.Status != "Réussis")
            {
                <td>
                    <a asp-action="retry" asp-route-id="@item.Id">Réessayer</a>
                </td>
            }

        </tr>
}
    </tbody>
</table>
